{%extends 'base.html' %}

{%block src_%}
{# <script src="static/jquery.min.js" type="text/javascript"></script> #}
{# uploadify所需资源 #}
<script src='/static/push/uploadify/jquery.uploadify.min.js'></script>
<link rel="stylesheet" href="/static/push/uploadify/uploadify.css">
<script></script>
{% endblock %}


{%block title%}
push 测试
{%endblock%}


{% block content%}
<h3 style="text-align:center">原生上传文件与图片</h3 >
<hr>
<p>使用原生方式存储图片</p>
<form id="uploadForm" name="form1" method="post" enctype="multipart/form-data" action="/app/push/ajax_base_file">
    <input type="file" name="image" id='file'>
    <input type="text" name="text" id='text_'>
    <input type="button" value="提交" id="form_push"/>
</form>

<script>
    $("#form_push").click(function(){

        // 获取文件对像
         var $files = $('#file')[0].files[0];
         // 构造FormData对象
        var formData = new FormData();

        formData.append('file',$files);
        // csrf
        formData.append('csrfmiddlewaretoken','{{csrf_token}}')


         // XMLHttpRequest 对象

        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange=callback;

        xhr.open("post", '/app/push/ajax_base_file', true);

        // xhr.onload = function () {

        //     alert("上传完成!");

        // };

        xhr.send(formData);



        // 回调函数
        function callback(){

            if(xhr.readyState==4){
                
                if(xhr.status==200){   
            //纯文本数据的接受方法   
                    var message=xhr.responseText; 
                    alert(message)
                }
            }
        }

        // var textval=$('#text_').val()
        // data={"text":textval}
        // $.post('/app/push/ajax_base_file',data,function(data){
        //     console.log(data)

        // },'JSON');
        
    })
    
</script>
<hr>
<p>使用model模型存储图片</p>
<form id="uploadForm2">
    <input type="file" name="image" id='file2'>
    <input type="text" name="text" id='text_2'>
    <input type="button" value="提交" id="form_push2"/>
</form>

<form action="" >
    <input type="text" name="id" id="search">查询
    <input type="button" value="查询" id="bt_search">
</form>

<p id="show"></p>

<script>
    $("#form_push2").click(function(){

        // 获取文件对像
         var $files = $('#file2')[0].files[0];
         // 构造FormData对象
        var formData = new FormData();

        formData.append('file',$files);
        // csrf
        formData.append('csrfmiddlewaretoken','{{csrf_token}}')


         // XMLHttpRequest 对象

        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange=callback;

        xhr.open("post", '/app/push/ajax_base_model', true);

        xhr.send(formData);



        // 回调函数
        function callback(){

            if(xhr.readyState==4){
                
                if(xhr.status==200){   
            //纯文本数据的接受方法   
                    var message=xhr.responseText; 
                    alert(message)
                }
            }
        }

        
    })
    
</script>

<script>
    // 查询
    $("#bt_search").click(function(){
        var id = $('#search').val();

        var data={id:id}

        $.post("/app/push/ajax_find",data,function(data){

            $("#show").html(data.id);
        },'JSON')
    })
</script>

<hr>
<h3>uploadify文件上传插件</h3>

<div>
    
    {# uploadify主要操作对象 #}
    <input id="file_upload"  type="file" multiple="true" >
    {# uploadify完成后操作对象 #}
    {# 回显 #}
    <img style="display:none" id="upload_org_code_img" src="" width="150" height="150">
    {# 回头提交地址 #}
    <input id="file_upload_image" name="thumb" type="hidden" multiple="true" value="">
</div>

<script>

$(function() {
    $('#file_upload').uploadify({
        'swf'      : '/static/push/uploadify/uploadify.swf',
        'uploader' : '/app/push/ajax_uploadify/',
        'buttonText': '上传图片',
        'fileTypeDesc': 'Image Files',
        'fileObjName' : 'thumb',
        //允许上传的文件后缀
        'fileTypeExts': '*.gif; *.jpg; *.png',
        // csrf验证 添加formdata
        'onUploadStart' : function(file) {
                $("#file_upload").uploadify("settings", "formData", { 'csrfmiddlewaretoken': '{{csrf_token}}'});   
        },
        'onUploadSuccess' : function(file,data,response) {
            // response true ,false

            // 成功后的动作
            var obj = JSON.parse(data);
            if(response) {
                var obj = JSON.parse(data); //由JSON字符串转换为JSON对象

                // console.log(data);
                $('#' + file.id).find('.data').html('上传完毕');

                $("#upload_org_code_img").attr("src",obj.data);

                console.log(obj.data);

                $("#file_upload_image").attr('value',obj.data);
                $("#upload_org_code_img").show();
            }else{
                alert('上传失败');
            }
        },
    });
});
    
</script>

<hr>

<h3>kindEditor富文本</h3>

{# 副文本添加资源 #}
<script charset="utf-8" src="/static/push/kindeditor/kindeditor-all-min.js"></script>
<script charset="utf-8" src="/static/push/kindeditor/lang/zh-CN.js"></script>
<div>

    <form action="" id="form_kind_edit">
        {%csrf_token%}
        <input type="text" name="name"/>
        <textarea name="content" id="myedit" style="width:700px;height:500px;">
        
        </textarea>

        <input type="button" value="提交" id="bt_edit"/>
        
    </form>

</div>

<script>
    KindEditor.ready(function(K) {
        window.editor = K.create('#myedit',{
            uploadJson : '/app/push/ajax_kind_edit/', //文件发送地址
            afterBlur : function(){this.sync();}, //必须有
            extraFileUploadParams:{'csrfmiddlewaretoken': '{{csrf_token}}'} //csrf验证
        });
    });



    $('#bt_edit').click(function(){

        // form序列化
        var t = $('#form_kind_edit').serialize();

        var url = '/app/push/ajax_edit_post/'
        $.post(url,t,function(data){
            console.log(data)
        },"JSON")
    })



</script>


<br>
<div>

</div>










{% endblock %}


{%block js_%}
{%endblock%}